
.main {
    margin-top: -50px;
}

.main-page-image {
    width: 372px;
    height: 500px;
}

.images {
    display: flex;
    margin: auto;
    flex-direction: row;
    gap: 30px;
}

.brand {
    color: white;
    font-size: 70px;
}

.text {
    width: 100%;
    text-align: end;
}

.desc {
    font-size: 30px;
    font-style: italic;
}